/*major*/
$major-color= #5d4037
$major-light1-color= #efebe9
$major-light2-color= #d7ccc8
$major-light3-color= #bcaaa4
$major-dark1-color= #bcaaa4
$major-dark2-color= #bcaaa4
$major-dark3-color= #bcaaa4

/*accent*/
$accent-color= #bcaaa4
$accent-light1-color= #ffecb3
$accent-light2-color= #ffe082
$accent-light3-color= #ffb300
$accent-dark1-color= #ffa000
$accent-dark2-color= #ffa000
$accent-dark3-color= #ff6f00

/*notice*/
$notice-color= #607d8b
$notice-light1-color= #eceff1
$notice-light2-color= #cfd8dc
$notice-light3-color= #b0bec5
$notice-dark1-color= #78909c
$notice-dark2-color= #546e7a
$notice-dark3-color= #455a64

/*good*/
$good-color= #00c853
$good-light1-color= #00e676
$good-light2-color= #69f0ae
$good-light3-color= #b9f6ca
$good-dark1-color= #388e3c
$good-dark2-color= #2e7d32
$good-dark3-color= #1b5e20

/*wrong*/
$wrong-color= #d50000
$wrong-light1-color= #ff1744
$wrong-light2-color= #ff5252
$wrong-light3-color= #ff8a80
$wrong-dark1-color= #b71c1c
$wrong-dark2-color= #c62828
$wrong-dark3-color= #d32f2f

/*preset*/
$preset-light1-color = #f2f2f2
$preset-light2-color = #e6e6e6
$preset-light3-color = #d9d9d9
$preset-color = #ffffff
$preset-dark1-color = #cccccc
$preset-dark2-color = #bfbfbf
$preset-dark3-color = #a6a6a6

/*basic*/
$basic-color = #ececee
$basic-light1-color = #c6c7cd
$basic-light2-color = #b4b5bd
$basic-light3-color = #8e909c
$basic-dark1-color = #333333
$basic-dark2-color = #1a1a1a
$basic-dark3-color = #000000