/*major*/
$major-light1-color= #e8f5fd
$major-light2-color= #44adee
$major-light3-color= #1489d2
$major-color= #0F669E
$major-dark1-color= #0d5b8c
$major-dark2-color= #0b4c75
$major-dark3-color= #093d5d
/*accent*/
$accent-light1-color= #fff5e6
$accent-light2-color= #ffe0b3
$accent-light3-color= #ffa31a
$accent-color= #F39200
$accent-dark1-color= #e68a00
$accent-dark2-color= #cc7a00
$accent-dark3-color= #b36b00
/*notice*/
$notice-light1-color= #f2f2f3
$notice-light2-color= #b0b3b5
$notice-light3-color= #898d90
$notice-color= #626669
$notice-dark1-color= #575a5c
$notice-dark2-color= #4a4d4f
$notice-dark3-color= #3e4042

/*good*/
$good-light1-color= #edf8ed
$good-light2-color= #e3f1da
$good-light3-color= #bcdfb9
$good-color= #4aaf46
$good-dark1-color= #3d8f3d
$good-dark2-color= #007f7f
$good-dark3-color= #007f7f

/*wrong*/
$wrong-light1-color= #fbd4d0
$wrong-light2-color= #fbd3d0
$wrong-light3-color= #f47e71
$wrong-color= #c5210f
$wrong-dark1-color= #a61c0c
$wrong-dark2-color= #8e180b
$wrong-dark3-color= #77140

/*preset*/
$preset-light1-color= #f2f2f2
$preset-light2-color= #e6e6e6
$preset-light3-color= #d9d9d9
$preset-color= #ffffff
$preset-dark1-color= #cccccc
$preset-dark2-color= #bfbfbf
$preset-dark3-color= #a6a6a6

/*basic*/
$basic-color= #ececee
$basic-light1-color= #c6c7cd
$basic-light2-color= #b4b5bd
$basic-light3-color= #8e909c
$basic-dark1-color= #333333
$basic-dark2-color= #1a1a1a
$basic-dark3-color= #000000