@import 'theme-config'

/**********button****************/

.btn-base 
  display inline-block
  padding 5px 10px
  margin-bottom 0
  border-radius 4px
  -webkit-border-radius 4px
  -moz-border-radius 4px
  font-size 14px
  font-weight 400
  line-height 1.4
  text-align center
  white-space nowrap
  vertical-align middle
  -ms-touch-action manipulation
  touch-action manipulation
  cursor pointer
  border 1px solid transparent

.btn-icon
  background-color transparent
  padding 0
  margin 0

.btn-accent
  background-color $accent-light1-color
  border-color $accent-color
  color $preset-color

.btn-good
  background-color $good-dark1-color
  border-color $good-color
  color $preset-color


.btn-major
  background-color $major-color
  border-color $major-color
  color $preset-color

.btn-notice
  background-color $notice-color
  border-color $notice-color
  color $preset-color

.btn-preset
  background-color $preset-color
  border-color $preset-dark3-color
  color $preset-color

.btn-transparent
  background-color transparent

.btn-wrong
  background-color $wrong-color
  border-color $wrong-dark2-color
  color $preset-color


.btn-long 
  padding 9px 16px
  font-size 16px
  line-height 1.4
  border-radius 5px
  -webkit-border-radius 3px
  -moz-border-radius 3px

.btn-medium 
  padding 4px 9px
  font-size 12px
  line-height 1.5
  border-radius 4px
  -webkit-border-radius 3px
  -moz-border-radius 3px

.btn-small 
  padding 1px 4px
  font-size 10px
  line-height 1.6
  border-radius 3px
  -webkit-border-radius 3px
  -moz-border-radius 3px


/**********card****************/
.card
    min-height 20px
    padding 8px
    margin 10px
    background-color $basic-color
    border 1px solid $basic-light2-color
    border-radius 8px
    -webkit-border-radius 8px
    -moz-border-radius 8px
    box-shadow 0 3px 8px  $basic-light3-color
    -webkit-box-shadow 0 3px 8px  $basic-light3-color
    -moz-box-shadow 0 3px 8px  $basic-light3-color
    -o-box-shadow 0 3px 8px  $basic-light3-color

.card-accent
    background-color $accent-light1-color
    border-color $accent-color

.card-good
    background-color $good-light1-color
    border-color $good-dark1-color


.card-major
    background-color $major-light1-color
    border-color $major-color


.card-notice
    background-color $major-light1-color
    border-color $major-color

.card-preset
    background-color $preset-color
    border-color $preset-dark2-color

.card-wrong
    background-color $wrong-light1-color
    border-color $wrong-color

.card-long
    padding 12px
    width 800px

.card-medium
    padding 8px
    width 600px
    /*border-radius*/

.card-small
    width 400px
    padding 4px
    /*border-radius*/


/**********decoration****************/
.deco
    display inline-block
    min-width 8px
    padding 3px 5px
    font-size 10px
    font-weight 500
    line-height 1
    color $basic-dark2-color
    text-align center
    white-space nowrap
    background-color $basic-light2-color
    border-radius 8px


.deco-accent
    background-color $accent-color
    color $preset-color

.deco-major
    background-color $major-color
    color $preset-color

.deco-good
    background-color $good-color
    color $preset-color

.deco-wrong
    background-color $wrong-color
    color $preset-color


/**********icon****************/
.icon-base
    font-size20px


/**********label****************/
.lb-base
    padding 5px 0
    display inline
    font-size 96%
    font-weight 700
    line-height 1.4
    color $basic-dark1-color
    /*vertical-align baseline*/

.lb-accent
    color $accent-color

.lb-good
    color $good-color

.lb-major
    color $major-color

.lb-notice
    color $notice-color

.lb-preset
    color $preset-color

.lb-wrong
    color $good-color


/**********picture/image****************/
.pic-circle
    border-radius 50%
    -webkit-border-radius 50%
    -moz-border-radius 50%

.pic-responsive
    max-width 100%
    height auto
    /*min-width 100px
    min-height 100px*/


/**********text****************/
.txt
    font-weight 400
    font-size 96%
    line-height 1.5
    color #333333
    margin-bottom 5px

.txt-align-right
    text-align right

.txt-align-left
    text-align left
