.window-base{
    margin: 10px;
    padding: 0 15px;
    background-color: #FFFFFF;
    border: 1px solid #0F669E;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px #aaaaaa;
    box-shadow: 0 1px 1px #aaaaaa;

}
.header-base{
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.header-major{
    border: 2px solid #0F669E;
    background-color: #0F669E;
    color: #FFFFFF;
}

.footer-base{
    padding: 5px 8px;
    border-top: 1px solid #0F669E;
    border-radius: 0 0 6px 6px;
}







