
<color-item ng-repeat="color in $ctrl.colors['red']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['red'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['pink']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['pink'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['purple']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['purple'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['deep-purple']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['deep-purple'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['indigo']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['indigo'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['blue']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['blue'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['light-blue']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['light-blue'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['cyan']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['cyan'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['teal']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['teal'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['green']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['green'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['light-green']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['light-green'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['lime']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['lime'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['yellow']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['yellow'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['amber']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['amber'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['orange']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['orange'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['deep-orange']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['deep-orange'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['brown']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['deep-orange'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['deep-brown']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['beep-brow'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['grey']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['grey'])"></color-item>
<color-item ng-repeat="color in $ctrl.colors['blue-grey']" color="color" ng-click="$ctrl.selectColor(color, $ctrl.colors['blue-grey'])"></color-item>
